{% extends 'place_remember/layout.html' %}

{% block title %} Placify {% endblock %}

{% block content %} 

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Placify.</h1>
        <p class="w-25 p-3 mx-auto lead">Placify - это место, с помощью которого люди смогут хранить свои впечатления о посещаемых местах. 
            Делиться никогда еще не было настолько удобно! Placify - это инновационное приложение, созданное для того, чтобы помочь вам сохранить и делиться своими незабываемыми впечатлениями о посещаемых местах.
            С помощью Placify вы можете создавать персональные коллекции, где каждый отдельный элемент - это уникальное место, которое вы посетили.
        </p>
        <p class="lead">
            <a href="/login/vk-oauth2"><img src="static/place_remember/img/vk.png" width="300"  height="60"></a>
        </p>
      </main>
{% endblock %}