{% extends 'place_remember/layout.html' %}

{% block title %} Placify {% endblock %}

{% block content %} 
    <h2>Placify - это место, с помощью которого люди смогут хранить свои впечатления о посещаемых местах.</h2>
    <p> 
        Делиться никогда еще не было настолько удобно!
    </p> 
    <p> 
        Placify - это инновационное приложение, созданное для того, 
        чтобы помочь вам сохранить и делиться своими незабываемыми 
        впечатлениями о посещаемых местах.
    </p> 
    <p>
        С помощью Placify 
        вы можете создавать персональные коллекции, где каждый 
        отдельный элемент - это уникальное место, которое вы посетили.
    </p>
    <a href="/login/vk-oauth2"><img src="static/place_remember/img/vk.png"></a>
{% endblock %}