{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'place_remember/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'place_remember/img/icon.png' %}">
  </head>
  <header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;" justify-content-between">
      
      <a href="/" class="navbar-brand"><img src="{% static 'place_remember/img/icon.png' %}" width="80" height="60">Placify</a>
      {% if user.is_authenticated %}
      <form class="form-inline">
    
        <a href="/profile" class="navbar-brand"><img src="{{ data.photo_100 }}" width="70" height="70"></a>
        <a class="nav-link" href="/profile">{{ data.first_name }} {{ data.last_name }} <span class="sr-only"></span></a>
        <a class ="nav-link" href="/accounts/logout" style="color: red;">Выйти</a>
      </form>
      {% endif %}
    </nav>
  </header>
  <body class="text-center">
    {% block content %} {% endblock %}
  </body>
</html>
